{% extends "todo/layout.html" %}

{% block body %}


<div class="popup">
    <h1 style="text-align: center;">Task Form</h1>

    <form method="POST" action="">
        {% csrf_token %}
        <label class="task_form">Task Title</label>
        <div class="task_form">{{ form.title }}</div>

        <label class="task_form">Description</label>
        <div class="task_form">{{ form.description }}</div>

        <label class="task_form">Date</label>
        <div class="task_form">{{ form.date }}</div>

        <label class="task_form">Time</label>
        <div class="task_form">{{ form.time }}</div>

        <div class="task_form">
            <label>Complete</label>
            {{ form.complete }}
        </div>

        <div>
            <a class="login_button" style="text-decoration: none;" href="{% url 'tasks' %}">Cancel</a>
            <input class="login_button" type="submit" value="Submit">
        </div>
    </form>
</div>


{% endblock %}
