{% extends "todo/layout.html" %}

{% block body %}

{% if request.user.is_authenticated %}
<form method="post" action="{% url 'logout' %}">
    {% csrf_token %}
    <button type="submit">Logout</button>
</form>
    <div>
        <button class="username"> {{ request.user.get_full_name }} </button>
    </div>

    <div id="username_popup">
        <p> 
            @{{ request.user.get_username }}
            {{ request.user.email }}
        </p>
    </div>

{% else %}
    <a href="{% url 'login' %}">LogIn</a>
{% endif %}


<div class="main">
    <h1 class="heading">Task List</h1>
    <a href="{% url 'task-create' %}">
        <button class="add_task_button">
            <i class="fa fa-plus"></i> Add Task
        </button>
    </a>
    <hr>

    {% if tasks %}
        {% for task in tasks %}
            <div class="task" id="task">
                    {% if task.complete %}
                        <div class="task-complete-icon"></div>

                        <div class="task_body"> 
                            <i class="task_title"><s>
                                <a style="text-decoration: none; color: black;"style="color: #000000;" href="{% url 'task-update' task.id %}">{{ task.title }}</a>
                            </s></i>
                            <div class="task_description">{{ task.description }}</div>
                            <div class="task_datetime">{% if task.date %}{{ task.date }} | {% endif %}{% if task.time %}{{ task.time }}{% endif %}</div>
                        </div>

                    {% else %}
                        <div class="task-incomplete-icon"></div>
                        
                        <div class="task_body">
                            <a class="task_title" href="{% url 'task-update' task.id %}">{{ task.title }}</a>
                            <div class="task_description">{{ task.description }}</div>
                            <div class="task_datetime">{% if task.date %}{{ task.date }} | {% endif %}{% if task.time %}{{ task.time }}{% endif %}</div>
                        </div>
                    {% endif %}
                    
                <div id="task_button_group">
                    <a href="{% url 'task-update' task.id %}">
                        <button class="button task_button">Edit</button>
                    </a>
                    <a href="{% url 'task-delete' task.id %}">
                        <button class="button task_button">Delete</button>
                    </a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>No Tasks</p>
    {% endif %}
</div>
{% endblock %}
