body {
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    margin-left: 350px;
    margin-right: 350px;
}

.popup {
    margin-left: 450px;
    margin-right: 450px;
    align-items: center;
    border: 1px solid;
    border-radius: 10px;
    border-color: #3737378c;
    box-shadow: 2px 2px 2px rgba(28, 28, 28, 0.41);
}

.heading {
    font-size: 30px;
}

.add_task_button {
    background-color: #ffffff;
    color: #eb8f3b;
    border: none;
    font-size: 15px;
}

.add_task_button:hover {
    border: 1px solid #2a2a2a;
    border-radius: 5px;
}

.view_buttons {
    margin-top: 5px;
    margin-left: 5px;
}

.button {
    font-size: 15px;
    background-color: #ffffff;
    border-width: 0.5px;
    border-radius: 5px;
}

.task {
    color: #373737;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;

    align-items: center;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;

    border-bottom: 0.5px solid #bcbcbcc1;
}

.item {
    margin: 5px;
    padding: 10px;
}

.task:hover {
    border: 1px solid #474747;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-bottom: none;
}

.task_body {
    font-size: 15px;
    margin-left: -100px;
}

.task_body > .task_title {
    color: #000000;
    font-size: 20px;
    margin: 4px 0;
    text-decoration: none;
}

.task_body > .task_description {
    color: #292929d0;
    margin: 4px 0;
}

.task_body > .task_datetime {
    color: #5601ff;
    margin: 4px 0;
}

.task_button {
    margin: 3px;
    border: none;
    background: none;
}

#task_button_group {
    display: flex;
    margin: 5px;
    align-items: center;
}


.task-complete-icon {
    height: 2px;
    width: 2px;
    background-color: #70ff03;
    border-radius: 50%;
    margin-right: 10px;
}

.task-incomplete-icon {
    height: 2px;
    width: 2px;
    background-color: #8c8c8c;
    border-radius: 50%;
    margin-right: 10px; 
}




.username {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px;
    background-color: #ffffff;
    color: #272727;
    border-radius: 5px;
    border-width: 0px;
}

.username:hover {
    background-color: #ffb861;
    box-shadow: 2px 2px 2px rgba(28, 28, 28, 0.41);
}

#username_popup {
    position: absolute;
    display: none;
    right: 10px;
    top: 50px;
    width: 200px;
    padding: 5px;
    color: #ffffffc0;
    background-color: #2d2d2dbe;
    border-radius: 5px;
}

#logout_button {
    position: absolute;
    right: 10px;
    top: 40px;
}

.edit_button {
    position: absolute;
    right: 350px;
    padding: 5px;
}

.login_body {
    margin-top: 200px;
}

.login_heading {
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
}

.login_form {
    font-size: 15px;
    width: 250px;
    height: 25px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    border: 1px solid #3d3d3d;
    border-radius: 5px;
}

.login_button {
    background-color: #474747;
    color: #ffffff;
    font-size: 15px;

    width: 200px;
    height: 30px;
    margin: 10px auto;

    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #3d3d3d;
    border-radius: 5px;

    text-decoration: none;
}

.login_button:hover {
    background-color: #ff8d37;
    color: #373737;
}

.donthaveacc {
    justify-content: center;
    margin: 10px auto;
    display: flex;
}

.signup {
    color: #373737;
}

.signup:hover {
    color: #eb8f3b;
}


.form-control {
    font-size: 15px;
    width: 150px;
    height: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    border: 1px solid #3d3d3d;
    border-radius: 5px;
    padding: 3px;
}

.form-check-input {
    margin-left: 10px;
}


.task_form_label {
    font-size: 15px;
    display: flex;
    margin-top: 10px;
    text-align: center;
    align-items: normal;
    justify-content: center;
}